.text-color {
    color: #641515;
}

.div {
    padding: 0 300px;
}

.bg-radius {
    background-color: #ffae03;
    height: 400px;
    width: 500px;
    bottom: 0;
    z-index: 1;
    border-radius: 5px;
    border-top-left-radius: 200px;
}

.phone-img {
    height: 40rem;
    width: 17rem;
    z-index: 2;
}