.header {
    background-color: #641515;
    height: 85vh;
    width: 100%;
}

.navbar {
    position: sticky;
    top: 40px;
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    transition: 1s;
    z-index: 4;
}

.nav-active {
    width: 100%;
    top: 0px;
    border-radius: 0px;
}

.logo {
    height: 6vh;
}

.vam {
    background-color: #641515;
    border-radius: 10px;
    transition: .5s;
    box-shadow: 1px 2px 5px black;

    &:hover,
    :focus {
        background-color: #580e0e;
    }
}

.texts {
    color: black;
    transition: .5s;

    &:hover,
    :focus {
        color: #641515;
    }
}

.t-active {
    color: #641515;
}

.large {
    display: flex;
}

.bi-list {
    padding: 0 5px;
    display: none;
    color: #641515;

    &:active {
        background-color: #e6d9d9;
        border-radius: 5px;
    }
}

.logo-sm {
    display: none;
}

.text-min {
    display: none;
}

.div-sm {
    display: block;
}

.star1 {
    position: absolute;
    top: 110px;
    right: 70px;
}

.mt {
    margin-top: 16.5rem;
}

.small-text {
    font-size: 13px;
}

.blur-card {
    height: 20rem;
    width: 40rem;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 0 0 2px #974747;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.range {
    outline: none;
    accent-color: #ffae03;
    cursor: grab;
    background-color: transparent;
}