@media only screen and (max-width:990px) {
    .large {
        display: none;
    }

    .bi-list {
        display: block;
    }

    .logo-sm {
        display: block;
    }

    .blur-card {
        display: none;
    }

    .blur-card2 {
        display: flex;
    }
}

@media only screen and (max-width:778px) {
    .text-min {
        display: block;
    }

    .div-sm {
        display: none;
    }

    .bg-radius {
        height: 200px;
        width: 300px;
    }

    .phone-img {
        height: 30rem;
        width: 13rem;
    }

    .div {
        padding: 0;
    }
}

@media only screen and (max-width:360px) {
    .vam2 {
        font-size: 14px;
        padding: 5px 10px;
    }
}